<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>  login  </h1>


    <!-- <a href="https://login.microsoftonline.com/ec0a1000-3407-4d2f-81f9-dfd1179718dc/oauth2/v2.0/logout?client_id=5f2ad11c-54cd-4eb5-9e47-b238f25419cf&post_logout_redirect_uri=https://localhost:8000/login"> logout </a> -->
    <!-- <a href="https://login.microsoftonline.com/ec0a1000-3407-4d2f-81f9-dfd1179718dc/oauth2/v2.0/logout"> Logout </a> -->
    <!-- <a href="https://login.microsoftonline.com/common/oauth2/v2.0/logout?post_logout_redirect_uri=https://localhost:8000/login&client_id=5f2ad11c-54cd-4eb5-9e47-b238f25419cf"> Logout </a> -->
    <!-- <a href="https://login.microsoftonline.com/ec0a1000-3407-4d2f-81f9-dfd1179718dc/oauth2/v2.0/logout?post_logout_redirect_uri=https://localhost:8000/login"> Logout </a> -->
    <!-- <a href="https://login.windows.net/ec0a1000-3407-4d2f-81f9-dfd1179718dc/oauth2/logout?post_logout_redirect_uri=https://localhost:8000/login/logout"> Logout </a> -->
    <!-- <a href="https://login.microsoftonline.com/ec0a1000-3407-4d2f-81f9-dfd1179718dc/oauth2/logout?post_logout_redirect_uri=https://localhost:8000/login"> Logout </a> -->
   
</body>
</html>